.main-container {
  height: 300px;
  background-color: black;
}

.footer {
  background-color: white;
}

button {
  border: 1px solid white;
  border-radius: 10px;
  height: 30px;
  width: 50px;
}

.button-move {
  background-color: yellow;
}

.button-color {
  background-color: palevioletred;
}

.button-float {
  background-color: green;
}
